body {
  background-image: url(phot/wallp.jpg);
}

* {
  margin: 0;
  padding: 0;
}

nav {
  font-family: "Ubuntu", sans-serif;
}

nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
  height: 89px;
  background-color: black;
  color: white;
}

nav ul li {
  padding: 0 12px;
}

.brand img {
  width: 85px;
}

.brand {
  display: flex;
  align-items: center;
  font-weight: bolder;
  font-size: 1.3rem;
}

.mid{
  align-items: center;
  margin-left: 250px;
  font-family: "Ubuntu", sans-serif;
}

.search-container {
  max-width: 300px;
  margin: auto;
  padding: 20px;
}

.search-container input[type="text"] {
  background-color: #1d1c1c;
  color: rgb(255, 255, 255);
  width: 400px;
  padding: 15px;
  border: transparent;
  border-radius: 34px;
  box-sizing: border-box;
}

.signup-button {
  width: 55px;
  display: flex;  
  color: black;
  text-align: center;
  background-color: white;
  padding: 10px;
  border: transparent;
  border-radius: 34px;
  margin-left: 10px;
}

.signup-button1{
  width: 60px;
  /* display: flex;   */
  color: white;
  text-align: center;
  background-color: rgb(63, 65, 65);
  padding: 9px;
  border: transparent;
  border-radius: 34px;
  margin-left: 10px;
}

.login-button {
  width: 45px;
  display: flex;  
  color: white;
  text-align: center;
  background-color: rgb(0, 0, 0);
  padding: 10px;
  border-color: #3d3b3b;
  border-radius: 34px;
  margin-left: 350px;
}

.nav-items { 
  display: flex; 
  gap: 20px; /* Space between items */ 
}
/* Flexbox container */
.container {
  display: flex;
  gap: 20px; /* Optional spacing between containers */
  margin-top: 23px; /* Top margin for the containers */
}

.container1, .container2 {
  min-height: 72vh;
  background-color: black;
  color: white;
  font-family: "Ubuntu", sans-serif;
  width: 30%; /* Adjust width as needed */
  border-radius: 12px;
  padding: 34px;
}

.bottom {
  position: sticky;
  height: 110px;
  background-color: black;
  color: white;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column-reverse;
}

.icons {
  margin-bottom: 16px;
  cursor: pointer;
}

#myprogressbar {
  width: 80vw;
  text-align: center;
}

.songitemcontainer {
  margin-top: 74px;
}

.songitem {
  height: 50px;
  display: flex;
  background-color: rgb(63, 65, 65);
  margin: 12px 0;
  justify-content: space-between;
  align-items: center;
  padding-left: 15px;
  padding-right: 10px;
  border-radius: 34px;
}

.songitem1 {
  height: 70px;
  display: flex;
  background-color: rgb(32, 32, 32);
  border: 10px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: large; 
  margin: 12px 0;
  justify-content: space-between;
  align-items: center;
  padding-left: 15px;
  padding-right: 10px;
  border-radius: 7px;
}


.songitem img {
  border-radius: 34px;
}

.timestamp i {
  margin: 0 23px;
  cursor: pointer;
}

.songinfo {
  position: absolute;
  left: 10vw;
}

.songinfo img {
  border-color: aquamarine;
  border-radius: 34px;
  opacity: 1;
  transition: opacity is ease-in;
}
